*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;
}

.container{
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
text-align: center;


}
.box1{
flex-basis: 24%;
border: 5px solid;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
margin-right: 10px;
background-color: rgb(238, 27, 27);
display: flex;
/* align-self: center; */
text-align: center;
align-items: center;
justify-content: center;


}

.box2{
    flex-basis: 74%;
    border: 5px solid;
    border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
    /* height: 50%; */
    background-color: rgb(246, 219, 43);
    display: flex;
    text-align: center;
align-items: center;
justify-content: center;
}

@media screen and (max-width: 668px) {
    .container{
flex-direction: column;
width: 60%;
justify-content: center;
margin: auto;
height:40vh;

    }
    .box1{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        margin-bottom: 15px;
        margin-right: 0;
        padding-bottom: 100px;
    }
    .box2{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
        margin-bottom: 20px;
        height: 10%;
       
    }
   
      }


      h1{
        text-align: center;
        align-items: center;
      justify-content: center;
      align-self: center;
      display: flex;
      }